        * {
            box-sizing: border-box;
        }
        
        .logo {
            display: block;
            width: 250px;
            height: 100px;
            margin: auto;
        }
        
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }
        
        .header {
            padding: 90 px;
            text-align: center;
            background: #cda584;
            color: white;
        }
        
        header.h1 {
            font-size: 50 px;
        }
        
        .right {
            float: right;
        }
        
        #quote {
            color: brown;
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        
        #back {
            width: 85px;
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 12px 12px;
            text-decoration: none;
            box-shadow: 1px 1px 1px 2px rgba(43, 43, 77, 0.5);
            border-radius: 10px;
            margin: 20px 9px 20px 9px;
            background-color: #cda584;
            color: white;
        }
        
        .row {
            display: flex;
            flex-wrap: wrap;
        }
        
        .so-main {
            margin-left: 25px;
            margin-right: 35px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
        }
        
        .so-main img {
            width: 100%;
            margin-bottom: 20px;
        }
        
        .so-main1 {
            margin-left: 25px;
            margin-right: 35px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
        }
        
        .so-main1 img {
            width: 100%;
            margin-bottom: 20px;
        }
        
        .so-main2 {
            margin-left: 25px;
            margin-right: 35px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
        }
        
        .so-main2 img {
            width: 100%;
            margin-bottom: 20px;
        }
        
        .so-main3 {
            margin-left: 25px;
            margin-right: 35px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
        }
        
        .so-main3 img {
            width: 100%;
            margin-bottom: 20px;
        }
        
        img:hover {
            opacity: .5;
            transition: .9s;
        }
        
        .slide {
            padding: 40px;
            display: flex;
        }
        
        #slider {
            width: 75%;
            height: 470px;
            padding: 50px;
            margin-left: 153px;
        }
        
        .row h1 {
            text-align: left;
            color: rgba(240, 117, 117, 0.584);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        
        .so-footer {
            width: 100%;
            display: flex;
            color: white;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 0.2rem 0;
            background-color: #cda584;
        }
        
        .so-footer a {
            color: white;
            text-decoration: none;
            cursor: pointer;
        }
        
        .so-footer p:hover {
            transition: all .2s linear;
            transform: translateX(4px);
        }
        
        .so-footer a:hover {
            color: black;
        }
        
        .so-footer-items {
            margin-right: 1rem;
        }
        
        .so-footer-items ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
        }
        
        .so-footer-items li {
            margin-right: 1rem;
        }
        
        .so-footer-items_social ul li {
            font-size: 1.2rem;
            cursor: pointer;
            transition: all .2s linear;
        }
        
        .so-footer-items_social ul li:hover {
            color: #14af81;
            transform: scale(1.1);
            transition: all .2s linear;
        }
        
        @media (max-width: 390px) {
            .logo {
                width: 75%;
                height: auto;
                text-align: center;
            }
            #back {
                width: 60px;
                float: left;
                display: block;
                color: white;
                text-align: center;
                padding: 6px 6px;
                text-decoration: none;
                box-shadow: 1px 1px 1px 2px rgba(43, 43, 77, 0.5);
                border-radius: 10px;
                margin: 20px 9px 20px 9px;
                background-color: #cda584;
                color: white;
            }
        }